<header>
  <nav>
    <a (click)="navigateTo('/registration')" *ngIf="!(isLoggedIn$ | async)">Registration</a>
    <a (click)="navigateTo('/login')" *ngIf="!(isLoggedIn$ | async)">Login</a>
    <a (click)="navigateTo('/settings')" *ngIf="isLoggedIn$ | async">Settings</a>
    <a (click)="logout()" *ngIf="isLoggedIn$ | async">Logout</a>
  </nav>
</header>

<main>
  <div class="background">
    <div class="shape"></div>
    <div class="shape"></div>
  </div>
  <router-outlet></router-outlet>
</main>

<footer>
  <p class="username" *ngIf="isLoggedIn$ | async">Logged in as: {{ username }}</p>
</footer>
